---

---
<!-- @author: Ludovico Besana -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content="https://i.imgur.com/0qloO4X.png">
		<title>Week 3 Project | bootcamp.dev</title>
		<script type="module" src="../scripts/keyboard.js" astro-script="/events/script-0"></script>
	</head>

	<body>
    <div class="min-h-screen" >
		
<!-- Start Navbar  -->
		<div class="bg-black pt-10">
			<nav class="flex justify-center space-x-5 md:space-x-10 pb-10">
				<img src="../public/images/js-logo.svg" class="-mt-2"/>
				<a href="/" class="text-white hover:text-yellow-400">Home</a>
				<a href="/browser-events" class="font-medium text-white hover:text-yellow-400">Browser Events</a>
				<a href="/fetch-api" class="font-medium text-white hover:text-yellow-400">Fetch API</a>
				<a href="https://github.com/ludovicobesana/flaviocopes-bootcamp-week3" target="_blank" class="-mt-2 py-2 px-5 bg-yellow-500 text-black font-semibold shadow-md
		focus:outline-none focus:ring focus:ring-yellow-400 focus:ring-opacity-75">SEE THE CODE</a>
			</nav>
		</div>
<!-- End Navbar  -->

	<!-- Page Title -->
		<h1 class="pt-10 ml-36 border-b-2 w-64 border-black text-4xl">Browser Events</h1>

	<!-- Page Subtitle -->
		
		<h3 class="pt-5 ml-36 text-[24px]">Press any key on the keyboard</h3>

		<table class="ml-36 mt-10 bg-black">
			<thead>
				<th class="w-[95px] py-4 border-2 border-white text-yellow-400">Key</th>
				<th class="w-[95px] border-2 border-white text-yellow-400">Code</th>
				<th class="w-[95px] border-2 border-white text-yellow-400">Alt</th>
				<th class="w-[95px] border-2 border-white text-yellow-400">Ctrl</th>
				<th class="w-[95px] border-2 border-white text-yellow-400">Meta</th>
				<th class="w-[95px] border-2 border-white text-yellow-400">Shift</th>
				<th class="w-[95px] border-2 border-white text-yellow-400">Repeat</th>
			</thead>
			<tbody class="text-center">
			</tbody>

		</table>


		
		<footer class="pt-12 mt-20 border-t-2 border-black">

			<p class="text-center">
				&copy; 2022 <a href="https://github.com/ludovicobesana" target="_blank" class="hover:text-yellow-400">Ludovico Besana</a>. All rights reserved
			</p>

		</footer>
	

	</div>

	</body>
</html>

