---

---
<!-- @author: Ludovico Besana -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content="https://i.imgur.com/0qloO4X.png">
		<title>Week 3 Project | bootcamp.dev</title>
		<script type="module" src="../scripts/fetch.js"></script>
	</head>

	<body>
    <div class="min-h-screen" >

<!-- Start Navbar  -->
		<div class="bg-black pt-10">
			<nav class="flex justify-center space-x-5 md:space-x-10 pb-10">
				<img src="/images/js-logo.svg" class="-mt-2"/>
				<a href="/" class="text-white hover:text-yellow-400">Home</a>
				<a href="/browser-events" class="font-medium text-white hover:text-yellow-400">Browser Events</a>
				<a href="/fetch-api" class="font-medium text-white hover:text-yellow-400">Fetch API</a>
				<a href="https://github.com/ludovicobesana/flaviocopes-bootcamp-week3" target="_blank" class="-mt-2 py-2 px-5 bg-yellow-500 text-black font-semibold shadow-md
		focus:outline-none focus:ring focus:ring-yellow-400 focus:ring-opacity-75">SEE THE CODE</a>
			</nav>
		</div>
<!-- End Navbar  -->




<!-- Page Title -->
		<h1 class="pt-10 ml-36 border-b-2 w-40 border-black text-4xl">Fetch API</h1>

<!-- Page Subtitle -->
		
		<h3 class="pt-5 ml-36 text-[24px]">Enter an API URL inside the input and try to fetch some data</h3>


		<div class="flex mt-10">
		<form name="URL" method="get"> 
			<input type="text" id="fetchInput" class="ml-36 bg-black py-2 text-yellow-400 w-[589px]" value="https://api.github.com/users/flaviocopes">
		</form> 	
			<button id="fetchBtn" class="bg-yellow-400 w-[168px] py-2">FETCH</button>
		</div>

		<div class="pt-5 ml-36 w-[750px] gap-4 m-auto text-sm">
				<div class="group h-30 bg-black shadow-lg text-left p-4">
				<p id="output" class="text-yellow-400"></p>
				</div>
		</div>	

	
		<footer class="pt-5 pb-5 mt-20 border-t-2 border-black">
			<p class="text-center">
				&copy; 2022 <a href="https://github.com/ludovicobesana" target="_blank" class="hover:text-yellow-400">Ludovico Besana</a>. All rights reserved
			</p>
		</footer>
	

	</div>

	</body>
</html>
