---

---
<!-- @author: Ludovico Besana -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content="https://i.imgur.com/FyEUHF8.png">
		<title>Week 3 Project | bootcamp.dev</title>
	</head>

	<body>
    <div class="min-h-screen" >
		
<!-- Start Navbar  -->
		<div class="bg-black pt-10">
			<nav class="flex justify-center space-x-5 md:space-x-10 pb-10">
				<img src="/images/js-logo.svg" class="-mt-2"/>
				<a href="/" class="text-white hover:text-yellow-400">Home</a>
				<a href="/browser-events" class="font-medium text-white hover:text-yellow-400">Browser Events</a>
				<a href="/fetch-api" class="font-medium text-white hover:text-yellow-400">Fetch API</a>
				<a href="https://github.com/ludovicobesana/flaviocopes-bootcamp-week3" target="_blank" class="-mt-2 py-2 px-5 bg-yellow-500 text-black font-semibold shadow-md
		focus:outline-none focus:ring focus:ring-yellow-400 focus:ring-opacity-75">SEE THE CODE</a>
			</nav>
		</div>
<!-- End Navbar  -->

	<!-- Page Title -->
		<h1 class="pt-10 ml-36 border-b-2 w-36 border-black text-4xl">Home</h1>

		 <div class="text-left max-w-xl pt-10 ml-36">
			
			<div class="mb-10 p-8 border bg-black shadow-sm flex flex-col h-[248px]">
				<h3 class="text-[64px] font-semibold text-white decoration-sky-500">Browser Events</h3>
				
				<div>
					<a href="/browser-events" class="-mt-2 py-2 px-5 bg-white text-black font-semibold shadow-md
		focus:outline-none">TRY NOW</a>			
				</div>
			
	
			</div>

		<div class="mb-10 p-8 bg-black border border-gray-700 shadow-sm flex flex-col h-[248px]">
				<h3 class="text-[64px] font-semibold text-white decoration-sky-500">Fetch API</h3>
				<div>
					<a href="/fetch-api" class="-mt-2 py-2 px-5 bg-white text-black font-semibold shadow-md
		focus:outline-none">TRY NOW</a>
				</div>
			</div>
		</div>


      

		<footer class="pt-5 pb-5 mt-20 border-t-2 border-black">
			<p class="text-center">
				&copy; 2022 <a href="https://github.com/ludovicobesana" target="_blank" class="hover:text-yellow-400">Ludovico Besana</a>. All rights reserved
			</p>
		</footer>
	

	</div>

	</body>
</html>
